.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-inline: 32px;
}

.hidden {
  display: none;
}

.header {
  background-color: rgb(27, 26, 26);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;
}

.header__logo {
  color: rgb(236, 200, 132);
  font-size: 36px;
}

.main__inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block: 24px;
}

.todo {
  display: flex;
  gap: 12px;
}

.todo__input {
  width: 400px;
  padding: 10px 16px;
  font-size: 16px;
  outline: none;
  box-shadow: none;
  appearance: none;
  border: 2px solid rgb(236, 200, 132);
}

.todo__input::placeholder {
  color: rgb(217, 217, 217);
}

.todo__btn {
  display: block;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: rgb(236, 200, 132);
}

.tasks {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo__empty,
.task {
  font-size: 24px;
}

.task:hover {
  cursor: pointer;
}
